@import normalize
@import fonts

$color-bg: #0E0B14
$color-bg-scnd: #171B2A
$color-bg-third: #2F354B

.container
  max-width: 1400px
  margin: 0 auto

*
  box-sizing: border-box
button
  border: none
  &:focus
    outline: none
  
body
  +normal
  background: $color-bg
  color: #fff
  position: relative
  overflow-x: hidden
  font-size: 25px

.header
  height: 125px
  background: $color-bg-scnd
  &-block
    height: 125px
    display: flex
    align-items: center
    justify-content: flex-end
  &-menu
    display: block
    margin-right: 0
    margin-left: auto
    background: transparent
    height: 90px
    width: 282px
    font-size: 40px
    border-radius: 5px
    color: #fff
    font-weight: bold
    transition: .2s
    padding: 0 40px
    display: flex
    align-items: center
    justify-content: space-between
    &-img
      height: 40px
      width: 40px
    &:hover
      background: $color-bg-third
      cursor: pointer

.hero
  padding: 138px 0
  width: auto
  color: #fff
  text-align: center
  background: url("../img/hero-bg.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  &-title
    margin: 0
    margin-bottom: 10px
    font-size: 65px
    +extrabold
    text-transform: uppercase
  &-subtitle
    margin: 0
    margin-bottom: 74px
    font-size: 45px
  &-btn
    width: 292px
    height: 84px
    border-radius: 45px
    font-size: 30px
    +bold 
    transition: .2s
    &:hover
      transform: translateY(-5px)
      cursor: pointer
    &__signup
      margin-right: 60px
      color: #fff
      background: linear-gradient(180deg, #FFBE41 0%, #DA5B00 100%)
      box-shadow: 0px 0px 50px rgba(255, 184, 0, 0.25)
    &__login
      background: #fff
      border: 1px solid #000000
.text-block
  background: $color-bg-scnd
  color: #fff
  text-align: center
  
  line-height: 31px
  padding: 50px 0
  display: flex
  align-items: center
  justify-content: center
  &__text
    margin: 0 auto
.soon
  padding-top: 50px
  &-title
    text-align: center
    +extrabold
    margin: 0
    text-transform: uppercase
    font-size: 40px
    margin-bottom: 50px
  &-games
    background: $color-bg-scnd
    padding: 70px 0 35px 0
    &-block
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-card
      height: 350px
      width: 350px
      text-align: center
      margin-right: 10px
      margin-left: 10px
    &__img
      height: 286px
      width: 342px
      background: $color-bg-third
      display: block
      margin-bottom: 39px
    &__name
      
.footer
  padding: 100px 0
  
  &-block
    display: flex
    flex-wrap: wrap
  &-link
    color: #fff
    transition: .2s
    &:hover
      color: #DA5B00
    &s
      flex-basis: 100%
      margin-bottom: 30px
      display: flex
      align-items: center
  &-separator
    font-size: 40px
    margin: 0 30px
  &-scnd
    flex-basis: 100%
    display: flex
    align-items: center
    justify-content: space-between

.contacts
  background: $color-bg-scnd
  padding: 90px 0
  &-block
    margin: 0 auto
    width: 1072px
  &-item
    margin-bottom: 45px
    &:last-child
      margin-bottom: 80px
  &__img
    height: 40px
    width: 40px
    margin-right: 24px
  &__text
    font-size: 40px
    color: #fff
    text-decoration: none
    transition: .2s
    &:hover
      color: #DA5B00
  &-map
    & iframe
      width: 1072px
      height: 434px
.mission
  background: $color-bg-scnd
  padding: 80px 0
  &-block
    display: flex
    align-items: center
  &-text
    flex-basis: 50%
  &-img
    width: 50%

.play
  background: $color-bg-scnd
  &-block
    padding: 90px 0
    display: flex
    align-items: center
    flex-flow: column
    
  &-item
    display: flex
    align-items: center
    margin-bottom: 40px
    &:last-child
      margin-bottom: 0
    &-block
      display: flex
      align-items: center
      height: 224px
      width: 1120px
      background: $color-bg
      padding-right: 28px
  &-num
    border-radius: 50%
    height: 124px
    width: 124px
    display: flex
    align-items: center
    justify-content: center
    +extrabold
    font-size: 50px
    background: $color-bg
    margin-right: 52px
  &-img
    margin-right: 24px
    height: 100%
    width: 328px
  &-title
    margin: 0
    margin-bottom: 30px
    font-size: 22px
    +bold
  &-desc
    font-size: 22px
    margin: 0
  

.modal
  &-menu
    width: 600px
    height: auto
    background: $color-bg
    position: absolute
    top: 125px
    right: -600px
    padding: 50px 65px
    display: none
    &-item
      display: block
      border-radius: 45px
      display: flex
      align-items: center
      justify-content: center
      color: #fff
      font-size: 30px
      text-decoration: none
      background: $color-bg-scnd
      height: 90px
      width: 470px
      margin-bottom: 30px
      transition: .2s
      &:last-child
        margin-bottom: 0
      &:hover
        color: #DA5B00
    &-active
      background: #DC7700
  &-sign
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, .6)
    display: flex
    align-items: center
    justify-content: center
    color: #000 
    
    display: none
    z-index: 99

    &-block
      background: #fff
      position: relative
    &-close
      position: absolute
      height: 100px
      width: 100px
      display: flex
      align-items: center
      justify-content: center
      background: #E7EAF8
      right: -100px
      top: 0
      &:hover
        cursor: pointer
      & img
        height: 50px
        width: 50px
    &-nav
      list-style: none
      padding: 0
      display: flex
      align-items: center
      margin: 0
      & li
        height: 100px
        width: 350px
        font-size: 30px
        display: flex
        align-items: center
        justify-content: center
        background: #E7EAF8
        &.active
          background: #fff
    &-up
      &-form
        display: flex
        flex-flow: column
      &-label
        margin-bottom: 15px
      &-input
        width: 100%
        height: 90px
        border: 1px solid #000000
        border-radius: 5px
        padding: 0 27px
        margin-bottom: 15px
      &-check
        height: 25px
        width: 25px
        margin-right: 10px
      &-accept
        margin-top: 35px
        display: flex
        align-items: center
        justify-content: center
      &-link
        color: #000
      &-btn
        width: 293px
        height: 84px
        background: linear-gradient(180deg, #FFBE41 0%, #DA5B00 100%)
        box-shadow: 0px 0px 50px rgba(255, 184, 0, 0.25)
        border-radius: 100px
        margin: 0 auto
        margin-top: 35px
        color: #fff
        +bold
    &-log
      &-form
        display: flex
        flex-flow: column
      &-label
        margin-bottom: 15px
      &-input
        width: 100%
        height: 90px
        border: 1px solid #000000
        border-radius: 5px
        padding: 0 27px
        margin-bottom: 15px
      &-btn
        width: 293px
        height: 84px
        background: linear-gradient(180deg, #FFBE41 0%, #DA5B00 100%)
        box-shadow: 0px 0px 50px rgba(255, 184, 0, 0.25)
        border-radius: 100px
        margin: 0 auto
        margin-top: 35px
        color: #fff
        +bold

.tabs__content
  display: none
  padding: 50px 90px
.tabs__content.active 
  display: block
  

@media screen and ( max-width: 1600px )
  .container
    width: 1000px
  .modal
    &-sign
      &-nav
        & li
          height: 70px
          width: 250px
          font-size: 24px
      &-up, &-log
        &-input
          height: 60px
      &-close
        height: 70px
        width: 70px
        right: -70px
        & img
          height: 30px
          width: 30px
  .contacts
    &-block
      width: 800px
    &-map
      & iframe
        width: 800px
  .mission
    &-text
      flex-basis: 70%
    &-img
      width: 30%
  .soon
    &-games
      &-card
        margin-bottom: 30px
  .tabs__content
    padding: 20px 40px
@media screen and ( max-width: 1400px )
  .play
    &-item
      &-block
        height: auto
        width: 800px
    &-text
      padding: 25px
@media screen and ( max-width: 1080px )
  .container
    width: 800px
  .header
    height: 90px
    &-block
      height: 90px
    &-menu
      height: 60px
      font-size: 30px
      width: 250px
  .hero
    &-title
      font-size: 48px
      max-width: 600px
      margin: 0 auto
    &-subtitle
      font-size: 32px
      margin-bottom: 50px
    &:no-button
      &__signup
        margin-right: 30px
  .soon
    &-title
      font-size: 32px
  .contacts
    padding: 30px 0
    &-item
      display: flex
      align-items: center
      margin-bottom: 30px
    &-block
      width: 650px
    &__text
      font-size: 24px
    &__img
      height: 30px
      width: 30px
      margin-right: 20px
    &-map
      & iframe
        width: 650px
  .play
    &-block
      padding: 40px 0
      flex-flow: row
      flex-wrap: wrap
      justify-content: center
    &-item
      background: $color-bg
      flex-basis: 40%
      position: relative
      margin: 0 10px
      margin-bottom: 30px
      &-block
        padding-right: 0
        width: auto
        flex-wrap: wrap
    &-num
      position: absolute
      font-size: 30px
      width: 40%
      height: auto
      margin-top: 15%
      margin-right: 0
      top: 0
      background: none
    &-img
      margin-right: 0
      margin-left: auto
      width: 60%
      height: auto
    &-text
      text-align: center
      flex-basis: 100%
      padding: 15px 20px
    &-title
      margin-bottom: 15px
      font-size: 20px
  .mission
    padding: 40px 0
    &-block
      flex-wrap: wrap
      justify-content: center
    &-text
      flex-basis: 100%
    &-img
      flex-basis: 70%
      margin-top: 30px
  .footer
    padding: 60px 0
  .modal
    &-menu
      top: 90px
      z-index: 9
@media screen and ( max-width: 860px )
  .container
    width: 700px
@media screen and ( max-width: 768px )
  .container
    width: 90%
  .header
    &-menu
      font-size: 22px
      width: 200px
      & img
        height: 25px
        width: 25px
  .hero
    padding: 63px 0
    &-title
      font-size: 34px
    &-subtitle
      font-size: 22px
      margin-bottom: 30px
    &-btn
      height: 60px
      font-size: 22px
      &__signup
        margin-right: 22px
  .text-block
    padding: 30px 0
  .soon
    padding-top: 30px
    &-title
      font-size: 22px
      margin-bottom: 30px
    &-games
      padding: 30px 0
      &-card
        height: auto
        width: auto
        &:nth-child(3), &:nth-child(4)
          margin-bottom: 0
      &__img
        width: 298px
        height: 190px
        margin-bottom: 10px
  .footer
    padding: 65px 0
    &-separator
      margin: 0 10px
      font-size: 30px
  .modal
    &-menu
      width: 380px
      padding: 20px 40px 
      &-item
        width: 300px
        height: 57px
        font-size: 20px
    &-sign
      &-close
        height: 52px
        width: 52px
        right: -52px
      &-nav
        & li
          width: 215px
          height: 52px
      &-up, &-log
        &-label
          margin-bottom: 5px
        &-input
          margin-bottom: 10px 
        &-accept
          margin-top: 20px
        &-btn
          height: 66px
          font-size: 20px
  .tabs__content
    padding: 20px 30px
  body
    font-size: 18px
@media screen and ( max-width: 740px )
  .contacts
    &-block
      width: 570px
    &-map iframe
      width: 570px
  .play
    &-block
      padding: 40px
    &-img
      width: 60%
      height: auto
    &-item
      flex-basis: 100%
@media screen and ( max-width: 640px )
  .container
    width: 90%
  .header
    height: 80px
    &-block
      height: 80px
    &-meni
      height: 50px
  .hero
    padding-bottom: 30px
    &-title
      font-size: 30px
    &-subtitle
      max-width: 340px
      margin: 0 auto
      margin-bottom: 23px
    &-btn
      display: block
      margin: 0 auto
      &__signup
        margin-bottom: 20px
  .soon
    &-games
      &-card
        margin-bottom: 25px
        &:nth-child(3)
          margin-bottom: 25px
        &:last-child
          margin-bottom: 0
  .play
    &-block
      padding: 30px 20px
  .contacts
    &-block
      width: 400px
    &__text
      font-size: 18px
    &-map
      & iframe
        width: 400px
        height: 300px
  .mission
    &-text
      text-align: center
  .footer
    padding: 40px 0
  .modal
    &-menu
      top: 80px
    &-sign
      &-close
        top: -40px
        right: 0
        height: 40px
        width: 40px
        & img
          height: 20px
          width: 20px
      &-nav
        & li
          width: 166px
      &-up, &-log
        &-btn
          width: 224px
          height: 54px
      &-log
        &-btn
          margin-top: 20px
  .tabs__content
    padding: 15px

@media screen and ( max-width: 480px )
  body
    font-size: 16px
  .footer
    &-links
      margin-bottom: 20px
    &-scnd
      flex-wrap: wrap
      & a
        order: -1
        flex-basis: 100%
        margin-bottom: 20px
  .contacts
    &-block
      width: 300px
    &-map iframe
      width: 300px
  .play
    &-img
      width: 200px
      height: auto
  .modal
    &-menu
      width: 100%
      &-item
        width: 100%
@media screen and ( max-width: 400px )
  .play
    &-img
      width: 150px
      height: auto